<% provide(:title, 'Заявки онлайн') %>
<div class="homebg bg">
  <span><%=image_tag("HatTextForHome.png", size: "500x170", class: "hat")%></span>
  <div class ="textAndButton">
    <h1>Добро пожаловать в онлайн диспетчерскую заявок!</h1> 
    <%= link_to "Зарегистрируйтесь!", signup_path, class: "btn btn-large btn-primary btnhome" %>
  </div>
</div>
