<%# provide(:title, 'Home') %>
<div class="bg">
<div class="center jumbotron">
  <h1>Добро пожаловать в сервис онлайн заявок</h1> 
  <%= link_to "Зарегистрируйтесь!", signup_path, class: "btn btn-large btn-primary btnhome" %>
</div>
</div>


<div class="container">
      <div class="row">
        <!-- <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4"> 
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-4"> 
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div> -->
      </div>
    </div>