<% provide(:title, 'Заявки онлайн') %>
<div class="homebg bg">
  <span><%=image_tag("HatTextForHome.png", size: "500x170", class: "hat")%></span>
  <div class ="textAndButton">
    <h1>Добро пожаловать в сервис онлайн заявок!</h1> 
    <% if !signed_in? %>
    	<div class = "container">
    		<div class = "row">
    			<div class = "col-md-2">
    				<%= link_to "Зарегистрируйтесь!", signup_path, class: "btn btn-large btn-primary btnhome" %>
    			</div>
    			<div class = "col-md-1">
    				<%= link_to "Войдите", signin_path, class: "btn btn-large btn-primary btnhome" %>
    			</div>
    		</div>
    	</div>
    <%elsif%>
    	<% current_user.client? %>
    		<%= link_to "Подать заявку", "/new", class: "btn btn-large btn-primary btnhome" %>
    	<%end%>
  </div>
  <form>
    <input id="input-21e" value="0" type="number" class="rating" min=0 max=10 step=1 data-size="xs" >
    <hr>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
    </div>
</form>
</div>
