<div class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<h1>Сброс пароля</h1>

	<%= form_for(:password_reset, url: password_resets_path, html: {:class => "form-vertical center"}) do |f| %>
		<div class="form-group">
			<label> Почта </label>
			<%= f.text_field :email, class: "form-control", required: "" %>
		</div>
		<%= f.submit "Сменить парль", class: "btn" %>
	<% end %>
	</div>
</div>
