<% provide(:title, 'Заявка') %>
<div class="container">
<div class="col-md-7 showtable">
  <table class="table table-bordered table-striped">
  <tr>
    <th>Номер</th>
    <td><%= @contract.company %></td>    
    <th>Объект</th>
    <td><%= @contract.company %></td>
  </tr>
</table>

