<div class="form-group">
	<label class=" col-xs-3">Контракты</label>
	<div class="col-xs-5">
		<table id="contracts_for_new" class="table table-wrapper table-bordered contractSmall">
			<thead>
				<tr class = "">
					<th>Номер договора</th>
					<th>Описание</th>
					<th>С</th>
					<th>По</th>
				</tr>
			</thead>
		    <tbody>
				<% for c in @list_contract %>
				<tr>
			    	<td><%= c.name_contract %></td>
			    	<td><%= c.description %></td>
			    	<td><%= c.begin_time_safe %></td>
			    	<td><%= c.end_time_safe %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
