<div class ="form-group">
	<label class=" col-md-3">Номер контракта</label>
	<div class="col-md-5">
    <%= select_tag "version_id", options_from_collection_for_select(@list_contract, "id", "id"), :prompt => "Выберите из списка", :class => "form-control", required: "" %>
	</div>
</div>
