<% provide(:title, 'Заявка отменена') %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h1>Заявка отменена!</h1>
			<br>
			<%= link_to "Вернуться к объектам", {controller: "users", action: "req"}, id: current_user, class: "btn"%>
		</div>

	</div>
</div>

