	
<div class="container">	
<h1><%= @name %></h1>
<div class="row">
<div class="col-md-4">
</div>
	<div class="col-md-4">
	<table class="table tablework">

<div class="list">
<tr>
  <td>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to user, method: :delete, data: { confirm: "You sure?" } do%>
    <span class="glyphicon glyphicon-trash" style="float:right"></span>
    <% end %>
  <% end %>
  </td>
</tr>
</div>