<li>
<div style="padding: 10px; border: 1px solid black">
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  	|
    <%= link_to user, method: :delete, data: { confirm: "You sure?" } do%>
    <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  <% end %>
</div>
</li>