<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="pagination">
<%= will_paginate previous_label:"предыдущая", next_label:"следующая" %>
</div>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
<%= will_paginate previous_label:"предыдущая", next_label:"следующая" %>