<% provide(:title, @name) %>
<h1><%= @name %></h1>
<div class="pagination">
<%= will_paginate previous_label:"предыдущая", next_label:"следующая" %>
</div>
<div class="row">
<div class="col-md-4">
<table class="table">
	<tr>
	<th>Имя</th>
	</tr>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</table>
</div>
</div>
<%= will_paginate previous_label:"предыдущая", next_label:"следующая" %>