<% provide(:title, "Клиенты") %>
<div class="container">	
<h1>Клиенты</h1>
<div class="row">
	<div class="col-xs-3">
	</div>
		<div class="col-xs-6">
		<table id="clients" class="table">
			<thead>
				<tr>
					<th>Номер</th>
					<th>Почта</th>
					<th>Телефон</th>
					<th></th>
				</tr>
			</thead>    
		    <tbody>	  	
    			<% @users.each do |user| %>
					<%= render user %>
			<%end%>
			</tbody>
		</table>

	</div>
	<div class="col-xs-4">
	</div>
</div>
</div>
