<% provide(:title, @user.name) %>
<div class="container">
<div class="row">
		<section>
			<h2>
				<%= @user.name %>
				<br>
				<%= @user.email %>
				<br>
				<%= @user.phone %>
			</h2>
			<br>
			<%= link_to "Изменить данные профиля", edit_user_path(current_user) %>
</div>
</div>