<h1>Все объекты</h1>
 
<table class="table">
  <tr>
    <th>Номер</th>
    <th>Адрес</th>
  </tr>
 
  <% @buildings.each do |b| %>
    <tr>
      <td><%= b.name %></td>
      <td><%= b.main_address %></td>
    </tr>
  <% end %>
</table>