<div class="row">
<div class="col-md-7">
	<h1>Все объекты</h1>

	<table class="table table-bordered table-striped">
		<tr>
			<th>Номер</th>
			<th>Адрес</th>
		</tr>
	
		<% @buildings.each do |b| %>
			<tr>
				<td><%= b.main_address %></td>
				<td><%= b.id %></td>
				<td><%= b.arrival_address %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>
