<% provide(:title, 'Добавление объекта') %>
<h2>Добавление объекта</h2>

	<%= form_for @building, :html => {:class => "form-horizontal"} do |f| %>
	<div class="container">
		<div class="row"> 
		<div class="form-group">
			<label class="control-label col-md-3">Объект</label>
			<div class="col-md-4">
			<%= f.text_field :name, :placeholder => "Введите № объекта", class: "form-control", required: "" %>
			</div>
		</div>
		</div>
		<div class="container">
		<div class="row"> 
		<div class="form-group">
			<label class="control-label col-md-3">Главный адрес объекта</label>
			<div class="col-md-4">
			<%= f.text_field :main_address, :placeholder => "Введите главный адрес оъекта", class: "form-control", required: "" %>
			</div>
		</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-md-4">
		<%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
	</div>
		</div>
	<% end %>
  </div>
</div>

