<h1>Здравствуйте, <%= @current_user.name %></h1>
<div class="row">
<div class="form-group">
      <label class="col-md-4 control-label">Объект</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%= @building.name %></label>
      </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
      <label class="col-md-4 control-label">Главный адрес</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%= @building.main_address %></label>
      </div>
    </div>
  </div>